.home-page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-content: flex-start; */
    /* background: lightblue; */
}